body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sun {
  position: absolute;
  top: 0;
  background-color: #FDB813;
  height: 100px;
  width: 200px;
  right: 0;
  border-bottom-left-radius: 50px;
}

.info-box {
  border: 1px solid white;
  width: 20rem;
  margin: 50px;
  padding: .5rem;
  display: flex;
}

.info-nw {
  flex: 1;
}

.info-box:hover .info-nw {
  transform: rotate(360deg);
  transition-duration:1s;
}

.info-name {
  flex-grow: 1;
  border-left: 1px solid white;
}

.info-picture {
  border-radius: 500px;
  margin-top: 20px;
  height: 350px;
}
